In [18]:
#!pip install psycopg2

In [17]:
import json, requests, time
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('postgresql://postgres:argmax@localhost:5432/postgres')

# Data
Every time a user opens a mobile bundleId, an auction is going on behind the scenes. The highest bidder gets to advertise his ad to the user.
## Auctions Table

In [2]:
engine.connect()

In [3]:
sql_query = 'SELECT * FROM auctions;'
with engine.connect() as db_con:
    df_auctions = pd.read_sql(sql_query, con=db_con)

df_auctions

,id,eventTimestamp,unitDisplayType,brandName,bundleId,countryCode,deviceId,osAndVersion,bidFloorPrice,sentPrice
0,1,1657758857892,rewarded,Generic,com.loop.match3d,US,6a0a94554cf,Android-4.0,0.05,0.06
1,2,1657210707978,interstitial,Generic,com.loop.match3d,ZA,6a0b0e59f45,Android-4.0,0.01,0.16
2,3,1657392939412,interstitial,Motorola,com.YayySAL.DodgeAgent,BR,6a0fa820c46,Android-10.0,0.05,0.06
3,4,1657386816882,interstitial,Huawei,com.tintash.nailsalon,IQ,6a142bdbea2,Android-9.0,0.01,0.05
4,5,1657211600823,banner,Generic,com.tilegarden.match3,US,6a16943a771,Android-4.0,0.01,0.03
...,...,...,...,...,...,...,...,...,...,...
207915,207945,1657731605063,banner,Generic,com.tilegarden.match3,NZ,80edf5837e8,Android-4.0,0.01,0.02
207916,207946,1657657131101,interstitial,Apple,1436213906,VN,80ee6a5eebf,iOS-13.6,0.01,0.90
207917,207947,1657156070854,rewarded,Generic,com.loop.match3d,US,80efe531afc,Android-4.0,0.05,0.69
207918,207948,1657659603568,banner,Apple,1502447854,US,80f02dd397f,iOS-15.0,0.01,0.10
207919,207949,1656644962087,banner,Generic,com.loop.match3d,US,80f2d20f885,Android-4.0,0.01,0.77

## bundleId Vectors table
We've gathered the first few sentences from the bundleId store description and embedded it with a [model](https://huggingface.co/mixedbread-ai/mxbai-embed-large-v1)

In [4]:
sql_query = f'''
SELECT
    *
FROM bundleId_vectors
'''
has_embedding = False
while not has_embedding:
    with engine.connect() as db_con:
        df = pd.read_sql(sql_query, con=db_con)
    has_embedding = (~df["embedding"].isna()).all()
    if not has_embedding:
        print("Waiting for embeddings...")
        time.sleep(15)

df

Waiting for embeddings...
Waiting for embeddings...
Waiting for embeddings...
Waiting for embeddings...
Waiting for embeddings...
Waiting for embeddings...
Waiting for embeddings...
Waiting for embeddings...
Waiting for embeddings...

,id,bundleId,content,embedding
0,1,com.loop.match3d,"Get ready for a new, challenging and original ...","[0.3168351,0.6250087,-0.12035602,0.21742316,-0..."
1,2,com.YayySAL.DodgeAgent,"Your mission, should you choose to accept it, ...","[0.5411281,0.7446754,-0.5817448,0.959678,0.022..."
2,3,com.tintash.nailsalon,It is manicure madness over here and it s your...,"[0.31176633,0.6059464,-1.1395655,0.07631053,-0..."
3,4,com.tilegarden.match3,\nIf you enjoy playing Match 3 tile & mahjong ...,"[0.050924417,1.0967329,-0.30831623,0.13220635,..."
4,6,com.AppIdeas.LevelUpRunner,"Are you a real hero? Are you the strongest, th...","[0.89756113,0.4644255,-0.18019219,1.261706,0.0..."
...,...,...,...,...
85,97,1529614832,Are you a fan of match-three & matching games?...,"[0.36212733,0.8391741,-0.33567384,0.0013341291..."
86,98,1523081624,It is manicure madness over here and it s your...,"[0.31176633,0.6059464,-1.1395655,0.07631053,-0..."
87,99,1502447854,"Get ready for a new, challenging and original ...","[0.2941412,0.6344748,-0.038190342,0.21263416,-..."
88,100,1436213906,Gather your riches and travel across the open ...,"[0.8503366,0.3483964,-0.61324555,0.5529497,0.0..."
89,101,1542256628,"Your mission, should you choose to accept it, ...","[0.5411281,0.7446754,-0.5817448,0.959678,0.022..."

We can use the `<=>` operator to run vector search within the database

In [5]:

vec = json.loads(df.embedding[0]) # get the first embedding
print ("Embedding size: {l}".format(l=len(vec)))

sql_query = f'''
SELECT
    "bundleId"
FROM bundleId_vectors
ORDER BY embedding<=>'{json.dumps(vec)}'
'''
with engine.connect() as db_con:
    df_ordered = pd.read_sql(sql_query, con=db_con)

df_ordered

Embedding size: 1024

                 bundleId
0        com.loop.match3d
1        com.loop.match3d
2        com.loop.match3d
3        com.loop.match3d
4        com.loop.match3d
..                    ...
85             1523081624
86  com.tintash.nailsalon
87  com.tintash.nailsalon
88  com.tintash.nailsalon
89  com.tintash.nailsalon

[90 rows x 1 columns]

# What you need to do
## The hypothesis
We assume that bundleIds with similar desciptions, would have a similar asking price in the auctions (`sentPrice` column).

Use cosine similarity (`<=>`) on the embeddings to find similar bundleIds, and any statistical tools you find suitable to prove or disprove this hypothesis.

## Is it consistent?
There are several other features in the auctions table (such as `CountryCode` and `OS`), 
Do your findings hold for those as well?

In [ ]:
# TODO: Please write your analysis here

In [6]:
import numpy as np

In [7]:
vec = json.loads(df.embedding[0]) # get the first embedding
print ("Embedding size: {l}".format(l=len(vec)))

sql_query = f'''
SELECT x."bundleId",y."embedding", "sentPrice"
FROM auctions x left join bundleId_vectors y on x."bundleId"=y."bundleId" 
'''
with engine.connect() as db_con:
    df = pd.read_sql(sql_query, con=db_con)

df

Embedding size: 1024

,bundleId,embedding,sentPrice
0,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.06
1,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.06
2,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.06
3,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.06
4,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.06
...,...,...,...
1039595,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.77
1039596,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.77
1039597,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.77
1039598,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.77
1039599,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.77

In [8]:
vec = json.loads(df.embedding[0]) # get the first embedding
print ("Embedding size: {l}".format(l=len(vec)))

sql_query = f'''
SELECT x."bundleId",y."embedding", "sentPrice"
FROM auctions x left join bundleId_vectors y on x."bundleId"=y."bundleId" 
ORDER BY embedding<=>'{json.dumps(vec)}'
'''
with engine.connect() as db_con:
    df1 = pd.read_sql(sql_query, con=db_con)

df1

Embedding size: 1024

,bundleId,embedding,sentPrice
0,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.29
1,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.03
2,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.10
3,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.10
4,com.loop.match3d,"[0.3168351,0.6250087,-0.12035602,0.21742316,-0...",0.10
...,...,...,...
1039595,1523081624,"[0.31176633,0.6059464,-1.1395655,0.07631053,-0...",0.83
1039596,1523081624,"[0.31176633,0.6059464,-1.1395655,0.07631053,-0...",0.83
1039597,1523081624,"[0.31176633,0.6059464,-1.1395655,0.07631053,-0...",0.83
1039598,1523081624,"[0.31176633,0.6059464,-1.1395655,0.07631053,-0...",0.83
1039599,1523081624,"[0.31176633,0.6059464,-1.1395655,0.07631053,-0...",0.83

In [9]:
df1_filtered = df1.drop_duplicates()[['bundleId', 'sentPrice']]

In [10]:
df1_filtered

                bundleId  sentPrice
0       com.loop.match3d       0.29
1       com.loop.match3d       0.03
2       com.loop.match3d       0.10
6       com.loop.match3d       0.06
11      com.loop.match3d       0.02
...                  ...        ...
972820        1523081624       1.91
973488        1523081624      11.42
974410        1523081624      12.46
977453        1523081624       2.30
979866        1523081624       5.65

[5960 rows x 2 columns]

In [11]:
grouped_df = df1_filtered.groupby('bundleId')['sentPrice'].agg(list).reset_index()

grouped_df

,bundleId,sentPrice
0,1436213906,"[6.99, 0.02, 5.39, 0.03, 5.0, 6.27, 9.84, 2.19..."
1,1502447854,"[93.67, 0.07, 0.85, 0.1, 3.66, 0.38, 4.08, 0.3..."
2,1523081624,"[0.05, 0.37, 0.02, 0.45, 0.06, 0.68, 0.57, 0.0..."
3,1529614832,"[0.02, 34.68, 31.66, 0.06, 4.7, 1.36, 0.12, 2...."
4,1542256628,"[1.06, 0.07, 0.5, 0.18, 0.35, 0.21, 0.06, 22.4..."
5,1569586264,"[20.06, 22.03, 11.84, 66.62, 1.16, 20.26, 9.12..."
6,1579489488,"[0.06, 7.37, 5.74, 4.32, 0.09, 0.52, 0.32, 1.3..."
7,1582745578,"[0.1, 0.05, 18.91, 0.06, 0.11, 1.76, 1.0, 2.31..."
8,1586795332,"[0.53, 7.44, 0.06, 2.08, 0.13, 0.05, 0.42, 0.8..."
9,com.AppIdeas.LevelUpRunner,"[0.05, 0.07, 0.06, 0.15, 1.13, 0.27, 0.57, 0.1..."
10,com.YayySAL.DodgeAgent,"[0.8, 0.05, 0.06, 0.59, 0.23, 0.71, 0.19, 0.07..."
11,com.kamilbilge.ropesavior3d,"[0.06, 0.14, 0.34, 0.05, 0.13, 0.98, 0.07, 0.4..."
12,com.loop.match3d,"[0.29, 0.03, 0.1, 0.06, 0.02, 0.94, 0.74, 0.17..."
13,com.tilegarden.match3,"[0.02, 1.85, 0.06, 0.01, 0.3, 0.09, 1.09, 0.03..."
14,com.tintash.nailsalon,"[0.42, 0.23, 0.03, 0.02, 0.01, 0.04, 0.07, 0.0..."
15,com.volt.dresstoimpress,"[0.02, 0.11, 0.97, 0.01, 0.05, 0.6, 7.01, 0.15..."
16,dovi.coalmining.inc,"[0.05, 0.7, 0.06, 0.07, 0.18, 25.33, 0.08, 0.1..."
17,se.ace.fishinc,"[0.02, 1.49, 3.55, 5.87, 5.37, 1.05, 0.42, 32...."

In [12]:
def calculate_statistics(prices):
    if len(prices) == 0:
        return {
            'num_prices': 0,
            'min_price': None,
            'max_price': None,
            'mean_price': None,
            'median_price': None,
            'std_dev_price': None
        }
    else:
        return {
            'num_prices': len(prices),
            'min_price': round(np.min(prices), 2),
            'max_price': round(np.max(prices), 2),
            'mean_price': round(np.mean(prices), 2),
            'median_price': round(np.median(prices), 2),
            'std_dev_price': round(np.std(prices), 2)
        }

# Calculate statistics for each bundleId
grouped_df['price_statistics'] = grouped_df['sentPrice'].bundleIdly(calculate_statistics)

grouped_df

,bundleId,sentPrice,price_statistics
0,1436213906,"[6.99, 0.02, 5.39, 0.03, 5.0, 6.27, 9.84, 2.19...","{'num_prices': 547, 'min_price': 0.01, 'max_pr..."
1,1502447854,"[93.67, 0.07, 0.85, 0.1, 3.66, 0.38, 4.08, 0.3...","{'num_prices': 581, 'min_price': 0.01, 'max_pr..."
2,1523081624,"[0.05, 0.37, 0.02, 0.45, 0.06, 0.68, 0.57, 0.0...","{'num_prices': 360, 'min_price': 0.01, 'max_pr..."
3,1529614832,"[0.02, 34.68, 31.66, 0.06, 4.7, 1.36, 0.12, 2....","{'num_prices': 160, 'min_price': 0.01, 'max_pr..."
4,1542256628,"[1.06, 0.07, 0.5, 0.18, 0.35, 0.21, 0.06, 22.4...","{'num_prices': 135, 'min_price': 0.05, 'max_pr..."
5,1569586264,"[20.06, 22.03, 11.84, 66.62, 1.16, 20.26, 9.12...","{'num_prices': 112, 'min_price': 0.45, 'max_pr..."
6,1579489488,"[0.06, 7.37, 5.74, 4.32, 0.09, 0.52, 0.32, 1.3...","{'num_prices': 174, 'min_price': 0.05, 'max_pr..."
7,1582745578,"[0.1, 0.05, 18.91, 0.06, 0.11, 1.76, 1.0, 2.31...","{'num_prices': 62, 'min_price': 0.05, 'max_pri..."
8,1586795332,"[0.53, 7.44, 0.06, 2.08, 0.13, 0.05, 0.42, 0.8...","{'num_prices': 278, 'min_price': 0.05, 'max_pr..."
9,com.AppIdeas.LevelUpRunner,"[0.05, 0.07, 0.06, 0.15, 1.13, 0.27, 0.57, 0.1...","{'num_prices': 119, 'min_price': 0.05, 'max_pr..."
10,com.YayySAL.DodgeAgent,"[0.8, 0.05, 0.06, 0.59, 0.23, 0.71, 0.19, 0.07...","{'num_prices': 176, 'min_price': 0.05, 'max_pr..."
11,com.kamilbilge.ropesavior3d,"[0.06, 0.14, 0.34, 0.05, 0.13, 0.98, 0.07, 0.4...","{'num_prices': 334, 'min_price': 0.05, 'max_pr..."
12,com.loop.match3d,"[0.29, 0.03, 0.1, 0.06, 0.02, 0.94, 0.74, 0.17...","{'num_prices': 875, 'min_price': 0.01, 'max_pr..."
13,com.tilegarden.match3,"[0.02, 1.85, 0.06, 0.01, 0.3, 0.09, 1.09, 0.03...","{'num_prices': 580, 'min_price': 0.01, 'max_pr..."
14,com.tintash.nailsalon,"[0.42, 0.23, 0.03, 0.02, 0.01, 0.04, 0.07, 0.0...","{'num_prices': 250, 'min_price': 0.01, 'max_pr..."
15,com.volt.dresstoimpress,"[0.02, 0.11, 0.97, 0.01, 0.05, 0.6, 7.01, 0.15...","{'num_prices': 266, 'min_price': 0.01, 'max_pr..."
16,dovi.coalmining.inc,"[0.05, 0.7, 0.06, 0.07, 0.18, 25.33, 0.08, 0.1...","{'num_prices': 123, 'min_price': 0.05, 'max_pr..."
17,se.ace.fishinc,"[0.02, 1.49, 3.55, 5.87, 5.37, 1.05, 0.42, 32....","{'num_prices': 828, 'min_price': 0.01, 'max_pr..."

In [13]:
for index, row in grouped_df.iterrows():
    print(row['price_statistics'])

{'num_prices': 547, 'min_price': 0.01, 'max_price': 441.02, 'mean_price': 8.68, 'median_price': 5.41, 'std_dev_price': 21.94}
{'num_prices': 581, 'min_price': 0.01, 'max_price': 297.5, 'mean_price': 9.54, 'median_price': 3.99, 'std_dev_price': 22.67}
{'num_prices': 360, 'min_price': 0.01, 'max_price': 74.31, 'mean_price': 6.53, 'median_price': 2.68, 'std_dev_price': 9.64}
{'num_prices': 160, 'min_price': 0.01, 'max_price': 168.42, 'mean_price': 8.08, 'median_price': 1.72, 'std_dev_price': 21.11}
{'num_prices': 135, 'min_price': 0.05, 'max_price': 37.98, 'mean_price': 3.63, 'median_price': 1.03, 'std_dev_price': 6.33}
{'num_prices': 112, 'min_price': 0.45, 'max_price': 68.9, 'mean_price': 18.9, 'median_price': 13.9, 'std_dev_price': 16.55}
{'num_prices': 174, 'min_price': 0.05, 'max_price': 30.01, 'mean_price': 2.86, 'median_price': 0.85, 'std_dev_price': 4.77}
{'num_prices': 62, 'min_price': 0.05, 'max_price': 61.77, 'mean_price': 3.81, 'median_price': 0.37, 'std_dev_price': 11.39}
{'num_prices': 278, 'min_price': 0.05, 'max_price': 46.18, 'mean_price': 4.05, 'median_price': 0.91, 'std_dev_price': 7.89}
{'num_prices': 119, 'min_price': 0.05, 'max_price': 3.32, 'mean_price': 0.83, 'median_price': 0.67, 'std_dev_price': 0.66}
{'num_prices': 176, 'min_price': 0.05, 'max_price': 26.62, 'mean_price': 2.28, 'median_price': 1.16, 'std_dev_price': 3.68}
{'num_prices': 334, 'min_price': 0.05, 'max_price': 86.22, 'mean_price': 3.68, 'median_price': 1.81, 'std_dev_price': 6.88}
{'num_prices': 875, 'min_price': 0.01, 'max_price': 297.46, 'mean_price': 11.36, 'median_price': 4.94, 'std_dev_price': 24.33}
{'num_prices': 580, 'min_price': 0.01, 'max_price': 255.0, 'mean_price': 8.05, 'median_price': 4.34, 'std_dev_price': 15.95}
{'num_prices': 250, 'min_price': 0.01, 'max_price': 128.77, 'mean_price': 3.49, 'median_price': 1.36, 'std_dev_price': 8.94}
{'num_prices': 266, 'min_price': 0.01, 'max_price': 7.01, 'mean_price': 1.74, 'median_price': 1.5, 'std_dev_price': 1.31}
{'num_prices': 123, 'min_price': 0.05, 'max_price': 49.6, 'mean_price': 2.44, 'median_price': 0.9, 'std_dev_price': 5.75}
{'num_prices': 828, 'min_price': 0.01, 'max_price': 266.95, 'mean_price': 8.02, 'median_price': 4.86, 'std_dev_price': 14.17}

### Correlation

In [18]:
import numpy as np
import pandas as pd
from scipy.stats import pearsonr
from sklearn.metrics.pairwise import cosine_similarity
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Function to calculate correlation using different options
def calculate_correlation(sentPrice, embedding, method='mean'):
    if method == 'mean':
        embedding_summary = np.mean(np.vstack(embedding), axis=1)
    elif method == 'median':
        embedding_summary = np.median(np.vstack(embedding), axis=1)
    elif method == 'std_dev':
        embedding_summary = np.std(np.vstack(embedding), axis=1)
    elif method == 'min_max_diff':
        embedding_summary = np.max(np.vstack(embedding), axis=1) - np.min(np.vstack(embedding), axis=1)
    else:
        raise ValueError("Invalid method. Choose from 'mean', 'median', 'std_dev', or 'min_max_diff'")
    
    # Calculate Pearson correlation coefficient
    correlation_coefficient, p_value = pearsonr(sentPrice, embedding_summary)
    
    return correlation_coefficient, p_value

# Calculate correlation using different methods
methods = ['mean', 'median', 'std_dev', 'min_max_diff']
correlation_results = {}

for method in methods:
    correlation_coefficient, p_value = calculate_correlation(df['sentPrice'], df['embedding'], method)
    correlation_results[method] = {'correlation_coefficient': correlation_coefficient, 'p_value': p_value}

# Print results
for method, result in correlation_results.items():
    print(f"Method: {method}")
    print(f"Pearson correlation coefficient: {result['correlation_coefficient']}")
    print(f"P-value: {result['p_value']}")
    print()

In [19]:
# Function to calculate cosine similarity
def calculate_cosine_similarity(embedding_vectors):
    similarity_matrix = cosine_similarity(embedding_vectors)
    return similarity_matrix

# Calculate cosine similarity matrix
embedding_vectors = np.vstack(df1['embedding'])
similarity_matrix = calculate_cosine_similarity(embedding_vectors)

# Visualize the similarity matrix
plt.figure(figsize=(8, 6))
sns.heatmap(similarity_matrix, annot=True, xticklabels=df1['bundleId'], yticklabels=df1['bundleId'], cmap='coolwarm')
plt.title('Cosine Similarity between bundleId Descriptions')
plt.xlabel('bundleId')
plt.ylabel('bundleId')
plt.show()

# Check correlation between cosine similarity and price
cosine_similarity_values = similarity_matrix[np.triu_indices(len(similarity_matrix), k=1)]
sentPrice = df1['sentPrice']
correlation_coefficient, p_value = pearsonr(cosine_similarity_values, sentPrice)

print(f"Pearson correlation coefficient between cosine similarity and asking price: {correlation_coefficient}")
print(f"P-value: {p_value}")

MemoryError:

### Summary

Unfortunately due to weak memory on my computer I couldn't run the code.
My aim here was to show the correlation between the embedding vectors and the sentPrice in order to determine if there is a connection between similar app descriptions and the price they used in the bid.

Moreover, based on the statistical analysis I created in the previous section, (in particular the standard deviation in accordance with the mean) I believe that apps with similar desciptions **don't** have a similar asking price in the auctions.
That's because the distribution of the prices submitted in each app (with similar descriptions) is too dispersed (higher std. deviation).